.coverage table td
{
    padding-right: 1em;
}

.coverage table th
{
    padding-right: 1em;
    text-align: left;
}

/****************************************************************/

.code .line
{
    font-family: monospace;
    white-space: pre;
}

.code .line.hit,
.code .line.hit a
{
    color: green;
}

.code .line.missed,
.code .line.missed a
{
    color: red;
}

.code .line.both,
.code .line.both a
{
    color: orange;
}

/****************************************************************/


.trace .step
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.trace .step .cbmc,
.trace .step .header,
.trace .step .code
{
    font-family: monospace;
    white-space: pre;
}

.trace .step .cbmc,
.trace .step .code
{
    margin-left: 1em;
}

.trace .function-body
{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: blue;
    margin-left: 1em;
    padding-left: .5em;
}

.trace .function-body .hidden
{
    display: none;
}
